node_modules

# Local Netlify folder
.netlify

# VSCode settings
.vscode

# Package files
package-lock.json
package.json

# Log files
*.log

# Temporary files
*.tmp
*.temp

# System files
.DS_Store
Thumbs.db

# Backup files
*.bak
*.swp

# Compiled files
*.class
*.o
*.so

# Other unnecessary files
*.zip
*.tar.gz
*.rar
*.7z