:root {
  --gap-size: 1.5em;
  --width: 90%;
}

*,
::before,
::after {
  box-sizing: border-box;
}

html {
  width: 200%;
  margin: auto;
  display: flex;
  background-color: white;
  padding: 5px;
  font-family: "Gowun Batang", serif;
}
nav {
  background-color: white;
  color: orange;
  padding: 0.5em 0.1em;
  margin: auto;
  width: var(--width);
}
nav h1 {
  padding: 5px;
}
nav li {
  list-style: none;
}

.navigation li a {
  color: black;
  display: flex;
  text-decoration: underline;
}

.heading {
  text-shadow: 2px 3px cornflowerblue;
  color: whitesmoke;
  margin-bottom: 1px;
  text-decoration-color: brown;
  color: orange;
  text-align: center;
}

.main {
  color: orange;
  background-color: #363062;
  padding: 60px;
  margin: auto; 
  width: 90%;
}

.removed {
  color: whitesmoke;
}

.btn {
  color: black;
  background-color: orange;
  display: block;
  width: 36.5%; 
  margin-top: 10px;
  margin-right:5px;
  border-radius: 7px;
  padding: 2.5px;

}

.sub-head {
  background-color: whitesmoke;
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px;
  margin-top: 20px;
}

.list-nav {
  a {
    color: orange;
  }

  a:visited {
    color: #bbbbbb;
  }

  a:hover {
    color: grey;
  }

  a:active {
    color: #ffa64d;
  }
}

.change {
  color: white;
}

.last-last {
  a {
    color: white;
  }

  list-style: decimal;
}

.footing {
  color: orange;
  padding: 25px;
  background-color: #363062;
  width: 90%;
  margin: auto;
}

#image {
  width: auto;
  margin-bottom: 20px;
}
